
body {
	background: url("../images/retina_wood.png") #ead5b5 repeat fixed;
}
h1 {
	font-size: 2.1rem;
	text-align: center;
	padding: .7rem 0 1.7rem;
}
#page {
	text-align: center;
	margin: 2rem auto;
	width: 610px;
}
#input {
	text-align: center;
	margin: 20px 0;
}
#heading {
	background-color: #cbf2ff;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #cbf2ff;
	padding: 2rem;
	margin-bottom: 30px;
	border: 1px solid #bcbcbc;
}
#item, #category, #add {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	vertical-align: bottom;
	/*background-color: #eae7dd;*/
}
#item {
	border: 1px solid rgb(204, 204, 204);
	height:25px; 
	width: 220px;
	font-size: 1.1em;
}
#item :focus {
	color: red;
}
#category {
	-webkit-appearance: menulist-button;
	appearance: menulist-button;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 30px;
	width: 14rem;
}
#add{
	height: 30px;
}
#main {
	font-family: 'Bad Script', serif;
	color: #494949;	
	text-align: left;
	padding: 2rem;
	background: url("../images/textured_paper.png") #edebe2 repeat fixed;	
	box-shadow: 4px 4px 3px #7f7f7f;	
}
#shopping-list {
	margin: 10px 0 20px;
	line-height: 2.1rem;
}
#shopping-list > li {
	font-size: 2rem;
	margin-bottom: 10px;
}
#shopping-list ul li {
	margin-left: 30px;
	font-size: 1.2rem;
}
.done, .delete {
	color: #000;
	text-decoration: none;
	font-size: .8rem;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
/* Responsive Design */
@media only screen and (max-width: 700px) {
	h1 {
		font-size: 2.2rem;
		text-align: center;
		padding: 1.2rem 0;
	}
	#page {
		width: 90%;
		padding: 1rem 0;
		margin-top: 1rem;
	}
	#heading {
		padding: 0 0 1rem;
	}
	#item, #category, #add {
		display: block;
		margin-bottom: 6px;
	}
	#add {
		float: right;
	}
	#input-items {
		margin: 0 auto;
		width: 225px;
		height: 105px;
	}
	#shopping-list > li {
		font-size: 1.6rem;
		margin-bottom: 10px;
	}
	#shopping-list ul li {
		margin-left: 30px;
		font-size: 1rem;
	}
	#main {
		text-align: left;
		padding: 0 1.2rem;
	}	
}
