body {
	background-color: #fff;
	font-family: 'Bad Script', serif;
}
h1 {
	font-size: 3.5rem;
	text-align: center;
	margin-top: 30px;
}
#input {
	text-align: center;
	margin-top: 20px;	
}
#item {
	border: 1px dotted #000000; 
	outline:0; 
	height:25px; 
	width: 275px; 	
}
#category {
	font-size: 1.2rem;
}
#main {
	margin: 30px 30rem;
}
#shopping-list {
	margin: 10px 0 20px;
	line-height: 2.1rem;
}
#shopping-list > li {
	font-size: 2rem;
	margin-bottom: 10px;
}
#shopping-list ul li {
	margin-left: 30px;
	font-size: 1.2rem;
}
.done, .delete {
	color: #000;
	text-decoration: none;
	font-size: .8rem;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
