body {
	font-family: 'Bad Script', serif;
	color: #494949;
	background: url("../images/retina_wood.png") #fff repeat fixed; 	
}
h1 {
	font-size: 3.5rem;
	text-align: center;
	padding: 2rem 0;
}
#page {
	text-align: center;
	background: url("../images/textured_paper.png") #fff repeat fixed;
	width: 47%;
	margin: 2rem auto;
	border: 1px solid #bcbcbc;
	box-shadow: 4px 4px 3px #7f7f7f;
}
#input {
	text-align: center;
	margin: 20px 0;
	border: 1px solid;
}
#heading {
	border-bottom: 1px solid #bcbcbc;
	padding: 2rem;
}
#item, #category, #add {
	font-family: 'Bad Script', serif;
	font-size: 1.1rem;
	vertical-align: bottom;
	/*background-color: #eae7dd;*/
}
#item {
	border: 1px solid rgb(204, 204, 204);
	height:25px; 
	width: 275px;
	font-size: 1.1em;
	font-family: 'Bad Script', serif;
}
#item :focus {
	color: red;
}
#category {
	-webkit-appearance: menulist-button;
	appearance: menulist-button;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	color: rgb(85, 85, 85);
	cursor: pointer;
	height: 30px;
	width: 14rem;
}
#add{
	height: 30px;
}
#main {
	text-align: left;
	padding: 2rem;
}
#shopping-list {
	margin: 10px 0 20px;
	line-height: 2.1rem;
}
#shopping-list > li {
	font-size: 2rem;
	margin-bottom: 10px;
}
#shopping-list ul li {
	margin-left: 30px;
	font-size: 1.2rem;
}
.done, .delete {
	color: #000;
	text-decoration: none;
	font-size: .8rem;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
